name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v5
    - name: Install Rust
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
          components: rustfmt, clippy, llvm-tools-preview
    - name: Build
      run: cargo build --verbose --all-targets
    - name: Rustfmt Check
      uses: actions-rust-lang/rustfmt@v1
    - name: Run Linter
      run: cargo clippy -- -D warnings
    - name: Install cargo-llvm-cov
      run: cargo install cargo-llvm-cov
    - name: Run tests with coverage
      run: cargo llvm-cov --lcov --output-path lcov_raw.info
    - name: Filter test code from coverage
      run: bash filter-lcov.sh lcov_raw.info lcov.info
    - name: Install Security Audit
      run: cargo install cargo-audit
    - name: Run Security Audit
      run: cargo audit
    - name: Upload coverage reports to Codecov 
      uses: codecov/codecov-action@v5
      with:
          files: lcov.info
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}
