name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
          toolchain: ${{ matrix.toolchain }}
          components: llvm-tools-preview
    - name: Activate cache
      uses: Swatinem/rust-cache@v2
    - name: Build
      run: cargo build --verbose  --all-targets
      env:
          RUSTFLAGS: "-Cinstrument-coverage"
    - name: Run Linter
      run: cargo clippy -- -D warnings
    - name: Run tests
      run: cargo test --verbose
      env:
          LLVM_PROFILE_FILE: "target/coverage/prof/%p-%m.profraw"
          RUSTFLAGS: "-Cinstrument-coverage"
    - name: Create coverage report
      run: |
         grcov \
           --source-dir . \
           --binary-path target/debug \
           --branch \
           --excl-start 'mod tests \{' \
           --ignore 'tests/*' \
           -t lcov \
           -o lcov.info \
           target/coverage/prof
    - name: Upload coverage reports to Codecov 
      uses: codecov/codecov-action@v5
      with:
          files: lcov.info
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}
