name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v5
    - name: Install Rust
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
          components: rustfmt, clippy, llvm-tools-preview
    - name: Build
      run: cargo build --verbose  --all-targets
      env:
          RUSTFLAGS: "-Cinstrument-coverage"
    - name: Rustfmt Check
      uses: actions-rust-lang/rustfmt@v1
    - name: Run Linter
      run: cargo clippy -- -D warnings
    - name: Run tests
      run: cargo test --verbose
      env:
          LLVM_PROFILE_FILE: "target/coverage/prof/%p-%m.profraw"
          RUSTFLAGS: "-Cinstrument-coverage"
    - name: Install Security Audit
      run: cargo install cargo-audit
    - name: Run Security Audit
      run: cargo audit
    - name: Install Code coverage tooling
      run: cargo install grcov
    - name: Create coverage report
      run: |
         grcov \
           --source-dir . \
           --binary-path target/debug \
           --branch \
           --excl-start 'mod tests \{' \
           --ignore 'tests/*' \
           -t lcov \
           -o lcov.info \
           target/coverage/prof
    - name: Upload coverage reports to Codecov 
      uses: codecov/codecov-action@v5
      with:
          files: lcov.info
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}
